# Pandas

## 1. Creating a DataFrame from Dictionary

In [ ]:
import pandas as pd

weather_data = {
    "City": ["Lahore", "Karachi", "Islamabad", "Peshawar", "Quetta",
             "Multan", "Faisalabad", "Sialkot", "Hyderabad", "Sukkur"],
    "Temperature_C": [35, 32, 30, 33, 25, 38, 34, 29, 36, 39],
    "Humidity_%": [45, 60, 50, 48, 40, 42, 47, 55, 58, 41],
    "Condition": ["Sunny", "Humid", "Cloudy", "Sunny", "Clear",
                  "Sunny", "Sunny", "Rainy", "Humid", "Hot"]
}

weather_df = pd.DataFrame(weather_data)
weather_df

## 2. Basic Inspection of DataFrame

In [ ]:
# Shape of DataFrame
num_rows, num_columns = weather_df.shape
print("Rows:", num_rows)
print("Columns:", num_columns)

In [ ]:
# First and last records
weather_df.head()
weather_df.tail()

In [ ]:
# Column names
weather_df.columns

## 3. Column Selection & Slicing

In [ ]:
# Single column
weather_df["Condition"]

In [ ]:
# Multiple columns
weather_df[["City", "Condition"]]

In [ ]:

# Row slicing
weather_df[6:9]

## 4. Basic Statistics

In [ ]:
max_temp = weather_df["Temperature_C"].max()
min_temp = weather_df["Temperature_C"].min()
std_temp = weather_df["Temperature_C"].std()

print("Max Temperature:", max_temp)
print("Min Temperature:", min_temp)
print("Std Temperature:", std_temp)

In [ ]:
weather_df.describe()

## 5. Filtering Rows (Boolean Indexing)

In [ ]:
# Temperatures greater than 35
high_temp_df = weather_df[weather_df["Temperature_C"] > 35]
high_temp_df

In [ ]:
# Row with maximum temperature
max_temp_row = weather_df[weather_df["Temperature_C"] == max_temp]
max_temp_row

In [ ]:
# City with maximum temperature
hottest_city = weather_df["City"][weather_df["Temperature_C"] == max_temp]
hottest_city

## 6. Working with Index

In [ ]:
# Original index
weather_df.index

In [ ]:

# Setting custom index
weather_df.index = pd.RangeIndex(start=1, stop=11, step=1)
weather_df.head()

In [ ]:
# Setting a column as index
weather_df.set_index("Temperature_C", inplace=True)
weather_df.head()

In [ ]:

# Resetting index
weather_df.reset_index(inplace=True)
weather_df.head()

## 7. Renaming Columns (Good Practice)

In [ ]:
weather_df.rename(columns={
    "City": "city",
    "Humidity_%": "humidity",
    "Condition": "condition",
    "Temperature_C": "temperature"
}, inplace=True)

weather_df.head()

## 8. Reading CSV from Google Sheets

In [ ]:
sheet_id = "1yQrD20_lxPU4sIwmW_etSZ6teC0pwGxW-D35zV9NQtw"
url = f"https://docs.google.com/spreadsheets/d/{sheet_id}/export?format=csv"

student_df = pd.read_csv(url)
student_df

### Reading with Options

In [ ]:
pd.read_csv(url, skiprows=1)

In [ ]:
pd.read_csv(url, header=1)

In [ ]:
pd.read_csv(url, header=None)

In [ ]:
pd.read_csv(url, header=None, names=["std_id", "name", "age", "city", "score"])

In [ ]:
pd.read_csv(url, nrows=1)

## 9. Handling Missing Values while Reading

In [ ]:
pd.read_csv(url, na_values=["not available", "n.a."])

pd.read_csv(url, na_values={
    "Age": ["not available", "n.a."],
    "Score": ["not available", "n.a."]
})

## 10. Writing Data to CSV

In [ ]:
student_df.to_csv("new_csv.csv")

In [ ]:
student_df.to_csv("new_csv_no_index.csv", index=False)

In [ ]:
student_df.to_csv("selected_columns.csv", columns=["Name", "City"])

In [ ]:
student_df.to_csv("no_header.csv", header=False)

## 11. Creating Data with Missing Values

In [ ]:
import numpy as np

data = {
    "day": ["1/1/12", "1/2/12", "1/3/12", "1/4/12", "1/5/12", "1/6/12", "1/7/12"],
    "temperature": [32, 35, np.nan, 28, 30, np.nan, 33],
    "windspeed": [6, np.nan, 7, np.nan, 5, 4, np.nan],
    "event": ["Rain", "Sunny", np.nan, "Snow", "Sunny", "Rain", np.nan]
}

missing_df = pd.DataFrame(data)
missing_df

## 12. Filling Missing Values

In [ ]:
# Fill with zero
missing_df.fillna(0)

In [ ]:
# Fill column-wise
missing_df.fillna({
    "temperature": 0,
    "windspeed": 0,
    "event": "no event"
})

In [ ]:

# Forward fill & backward fill
missing_df.fillna(method="ffill")
missing_df.fillna(method="bfill")

In [ ]:
# Limit filling
missing_df.fillna(method="ffill", limit=1)

## 13. Interpolation & Dropping Missing Values

In [ ]:
# Interpolate numeric values
missing_df.interpolate()

In [ ]:
# Drop rows with any NaN
missing_df.dropna()

In [ ]:

# Drop rows where all values are NaN
missing_df.dropna(how="all")

In [ ]:
# Keep rows with at least 1 non-NaN value
missing_df.dropna(thresh=1)

## 14. Replacing Values

In [ ]:
# Replace specific values with NaN
missing_df.replace([32.0, 28.0], np.nan)

In [ ]:
# Replace using dictionary
missing_df.replace({
    "temperature": 28.0,
    "windspeed": 4.0,
    "event": "no event"
}, np.nan)

In [ ]:

# Replace by value mapping
missing_df.replace({
    28.0: np.nan,
    "no event": "sunny"
})

## 15. Encoding Categorical Values

In [ ]:
student_scores = pd.DataFrame({
    "student": ["Ali", "Hassan", "Husnain", "Fatima", "Aoun", "Akbar"],
    "score": ["exceptional", "average", "good", "poor", "average", "exceptional"]
})

In [ ]:
# Label encoding (manual mapping)
encoded_scores = student_scores.replace(
    ["poor", "average", "good", "exceptional"],
    [1, 2, 3, 4]
)

encoded_scores

# Pandas Part 2 — GroupBy, Merge, Pivot & Reshape

This part covers **Split–Apply–Combine**, dataset **combination**, and **reshaping** patterns that are essential for:

* Feature aggregation
* Joining multiple tables
* Creating model-ready wide/long formats
---

## 1. GroupBy (Split → Apply → Combine)

In [ ]:
import pandas as pd

weather_data = {
    "day": [
        "1/1/2017","1/2/2017","1/3/2017","1/4/2017",
        "1/1/2017","1/2/2017","1/3/2017","1/4/2017",
        "1/1/2017","1/2/2017","1/3/2017","1/4/2017"
    ],
    "city": [
        "new york","new york","new york","new york",
        "mumbai","mumbai","mumbai","mumbai",
        "paris","paris","paris","paris"
    ],
    "temperature": [32, 36, 28, 33, 90, 85, 87, 92, 45, 50, 54, 42],
    "windspeed": [6, 7, 12, 7, 5, 12, 15, 5, 20, 13, 8, 10],
    "event": [
        "Rain","Sunny","Snow","Sunny",
        "Sunny","Fog","Fog","Rain",
        "Sunny","Cloudy","Cloudy","Cloudy"
    ]
}

In [ ]:
df_weather = pd.DataFrame(weather_data)

In [ ]:


df_weather["day"] = pd.to_datetime(df_weather["day"])

df_weather

### Create GroupBy Object

In [ ]:
city_groups = df_weather.groupby("city")

### Iterate Through Groups

In [ ]:
for city_name, city_df in city_groups:
    print(city_name)
    print(city_df)

### Access a Single Group

In [ ]:
city_groups.get_group("mumbai")

### Common Aggregations

In [ ]:
city_groups.max()
city_groups.min()
city_groups.mean(numeric_only=True)

### Descriptive Statistics Per Group

In [ ]:
city_groups.describe().transpose()

### Quick Group Plots

In [ ]:
%matplotlib inline
city_groups.plot()

**When to use GroupBy in ML**

* Aggregating user-level features
* City-wise / category-wise statistics
* Time-based feature engineering

## 2. Concatenation (Vertical & Horizontal)

### Vertical Concatenation (Row-wise)

In [ ]:
weather_pk = pd.DataFrame({
    "city": ["Lahore","Islamabad","Multan"],
    "temperature": [32,45,30],
    "humidity": [80, 60, 78]
})

In [ ]:
weather_us = pd.DataFrame({
    "city": ["new york","chicago","orlando"],
    "temperature": [21,14,35],
    "humidity": [68, 65, 75]
})

In [ ]:
combined_weather = pd.concat([weather_pk, weather_us], ignore_index=True)
combined_weather

### Using Keys to Track Source

In [ ]:
combined_with_keys = pd.concat([weather_pk, weather_us], keys=["Pakistan", "US"])
combined_with_keys
combined_with_keys.loc["US"]

### Horizontal Concatenation (Column-wise)

In [ ]:
temperature_df = pd.DataFrame({
    "city": ["mumbai","delhi","bangalore"],
    "temperature": [32,45,30]
}, index=[0,1,2])

windspeed_df = pd.DataFrame({
    "city": ["delhi","mumbai"],
    "windspeed": [7,12]
}, index=[1,0])

combined_columns = pd.concat([temperature_df, windspeed_df], axis=1)
combined_columns

### Concatenate Series as Column

In [ ]:
event_series = pd.Series(["Humid","Dry","Rain"], name="event")

combined_with_series = pd.concat([temperature_df, event_series], axis=1)
combined_with_series

## 3. Merge (SQL-Style Joins)

### Basic Inner Join

In [ ]:
df_temp = pd.DataFrame({
    "city": ["new york","chicago","orlando"],
    "temperature": [21,14,35]
})

df_humidity = pd.DataFrame({
    "city": ["chicago","new york","orlando"],
    "humidity": [65,68,75]
})

merged_inner = pd.merge(df_temp, df_humidity, on="city")
merged_inner

### Types of Joins

In [ ]:
df_left = pd.DataFrame({
    "city": ["new york","chicago","orlando", "baltimore"],
    "temperature": [21,14,35, 38]
})

df_right = pd.DataFrame({
    "city": ["chicago","new york","san diego"],
    "humidity": [65,68,71]
})

In [ ]:
pd.merge(df_left, df_right, on="city", how="inner")   # intersection

In [ ]:

pd.merge(df_left, df_right, on="city", how="outer")   # union

In [ ]:

pd.merge(df_left, df_right, on="city", how="left")    # left table priority

In [ ]:

pd.merge(df_left, df_right, on="city", how="right")   # right table priority

### Indicator Flag (Track Source)

In [ ]:
pd.merge(df_left, df_right, on="city", how="outer", indicator=True)

### Handling Column Name Conflicts

In [ ]:
df1 = pd.DataFrame({
    "city": ["new york","chicago","orlando", "baltimore"],
    "temperature": [21,14,35,38],
    "humidity": [65,68,71, 75]
})

df2 = pd.DataFrame({
    "city": ["chicago","new york","san diego"],
    "temperature": [21,14,35],
    "humidity": [65,68,71]
})

pd.merge(df1, df2, on="city", how="outer", suffixes=("_left","_right"))

## 4. Join (Index-Based Merge)

In [ ]:
df1 = pd.DataFrame({
    "city": ["new york","chicago","orlando"],
    "temperature": [21,14,35]
}).set_index("city")

df2 = pd.DataFrame({
    "city": ["chicago","new york","orlando"],
    "humidity": [65,68,75]
}).set_index("city")

df1.join(df2, lsuffix="_temp", rsuffix="_hum")

**When to use Merge/Join in ML**

* Joining labels with features
* Combining multiple feature tables
* Dataset enrichment

## 5. Pivot (Reshape: Long → Wide)

In [ ]:
df = pd.read_csv("weather.csv")

df.pivot(index="city", columns="date")
df.pivot(index="city", columns="date", values="humidity")
df.pivot(index="date", columns="city")

**Rule**: Pivot works only when each index-column pair is unique.

## 6. Pivot Table (Aggregation + Reshape)

In [ ]:
df = pd.read_csv("weather2.csv")

pd.pivot_table(df, index="city", columns="date")

In [ ]:

pd.pivot_table(df, index="city", columns="date", margins=True, aggfunc="sum")

### Time-Based Grouping with Grouper

In [ ]:
df = pd.read_csv("weather3.csv")
df["date"] = pd.to_datetime(df["date"])

pd.pivot_table(
    df,
    index=pd.Grouper(freq="M", key="date"),
    columns="city"
)

## 7. Melt (Wide → Long)
Used when converting many columns into key–value pairs.

In [ ]:
df = pd.read_csv("weather.csv")

melted_df = pd.melt(
    df,
    id_vars=["day"],
    var_name="city",
    value_name="temperature"
)

melted_df

**Very important for**

* Feature engineering
* Time-series pipelines

## 8. Stack / Unstack (MultiIndex Reshaping)

In [ ]:
df = pd.read_excel("stocks.xlsx", header=[0,1])

stacked = df.stack()
stacked

stacked.unstack()

### Multi-Level Columns

In [ ]:
df_multi = pd.read_excel("stocks_3_levels.xlsx", header=[0,1,2])

df_multi.stack()

In [ ]:
df_multi.stack(level=0)

In [ ]:
df_multi.stack(level=1)

## 9. Crosstab (Frequency Tables)

In [ ]:
df = pd.read_excel("survey.xls")

pd.crosstab(df.Nationality, df.Handedness)

In [ ]:
pd.crosstab(df.Sex, df.Handedness, margins=True)

### Multi-Dimensional Crosstab

In [ ]:
pd.crosstab(df.Sex, [df.Handedness, df.Nationality], margins=True)

In [ ]:
pd.crosstab([df.Nationality, df.Sex], [df.Handedness], margins=True)

### Normalized Crosstab

In [ ]:
pd.crosstab(df.Sex, df.Handedness, normalize="index")

### Aggregation in Crosstab

In [ ]:
import numpy as np
pd.crosstab(df.Sex, df.Handedness, values=df.Age, aggfunc=np.mean)

# Pandas Part 3 — Time Series Analysis

This part covers **complete Pandas Time Series handling** used in:

* Stock price analysis
* Sensor / log data
* Forecasting preprocessing
* Interview questions
---

## 1. Creating DatetimeIndex from CSV

In [ ]:

import pandas as pd

# Dummy stock price data
stock_data = {
    "Date": pd.date_range("2017-01-01", periods=10, freq="D"),
    "Close": [120, 121, 119, 122, 123, 125, 124, 126, 127, 128]
}

stock_df = pd.DataFrame(stock_data)
stock_df.set_index("Date", inplace=True)
stock_df

**Why DatetimeIndex is important:**

* Enables fast date slicing
* Required for resampling
* Required for time-based ML features

## 2. Partial Date Indexing (Very Important)

In [ ]:

# Select full month
stock_df["2017-01"]

In [ ]:

# Select specific date
stock_df["2017-01-03"]

In [ ]:
# Select date range
stock_df["2017-01-03":"2017-01-07"]

**Use in ML:**

* Select training windows
* Analyze seasonal patterns

## 3. Resampling (Downsampling / Upsampling)

In [ ]:
# Monthly average
monthly_mean = stock_df['Close'].resample('M').mean()
monthly_mean


**When to use:**

* Convert daily → monthly data
* Smooth noisy signals

## 4. Creating Date Ranges

In [ ]:
rng = pd.date_range(start="2024-01-01", end="2024-01-10", freq="D")
rng

Common frequencies:

* `D` = daily
* `B` = business day
* `H` = hourly
* `M` = month end

## 5. Handling Missing Dates

In [ ]:
full_index = pd.date_range(start="2017-01-01", end="2017-01-10", freq="D")
missing_dates = full_index.difference(stock_df.index)
missing_dates

**Use in ML:**

* Detect gaps in time series
* Required before interpolation

## 6. asfreq (Align to New Frequency)

In [ ]:
# Convert to daily frequency with forward fill
aligned_df = stock_df.asfreq('D', method='pad')
aligned_df


## 7. Generating Time Series with Periods

In [ ]:
rng = pd.date_range('2024-01-01', periods=24, freq='H')
import numpy as np
ts = pd.Series(np.random.randint(0, 100, len(rng)), index=rng)
ts.head()


## 8. to_datetime (Parsing Any Date Format)

In [ ]:
dates = ['2017-01-05', 'Jan 5, 2017', '01/05/2017', '20170105']
pd.to_datetime(dates)

Handling invalid dates:

In [ ]:
pd.to_datetime(['2017-01-05', 'abc'], errors='coerce')

## 9. Epoch / Unix Time

In [ ]:
epoch_time = 1501324478
pd.to_datetime(epoch_time, unit='s')

**Used in:**

* Logs
* System timestamps

## 10. Period and PeriodIndex (Financial Data)

### Yearly Period

In [ ]:
y = pd.Period('2016')
y.start_time
y.end_time
y.is_leap_year

### Monthly Period

In [ ]:
m = pd.Period('2017-12')
m.start_time
m.end_time

### Quarterly Period

In [ ]:
q = pd.Period('2017Q1', freq='Q-JAN')
q.start_time
q.end_time

**Use in ML & Finance:**

* Quarterly reports
* Fiscal calendars

## 11. PeriodIndex and period_range

In [ ]:
quarters = pd.period_range('2011', '2017', freq='Q')
quarters

## 12. Converting Period ↔ Timestamp

In [ ]:
ps = pd.Series(np.random.randn(len(quarters)), index=quarters)

# Period → Timestamp
ts = ps.to_timestamp()

In [ ]:
# Timestamp → Period
ps_back = ts.to_period()

## 13. Processing Financial Statements (Quarterly Data)

In [ ]:
financial_data = {
    "Quarter": ["2017Q1", "2017Q2", "2017Q3", "2017Q4"],
    "Revenue": [100, 120, 110, 130],
    "Profit": [20, 25, 23, 30]
}

In [ ]:
df = pd.DataFrame(financial_data)
df.set_index("Quarter", inplace=True)

In [ ]:

df.index = pd.PeriodIndex(df.index, freq="Q-JAN")

In [ ]:

# Add start and end dates
df['Start Date'] = df.index.map(lambda x: x.start_time)
df['End Date'] = df.index.map(lambda x: x.end_time)
df

## 14. Time Zones (Naive vs Aware)

In [ ]:
rng = pd.date_range("2024-01-01 09:00", periods=5, freq="H")
ts = pd.Series(range(5), index=rng)

In [ ]:
# Localize to US Eastern
ts_aware = ts.tz_localize('US/Eastern')

In [ ]:
# Convert to Europe/Berlin
ts_berlin = ts_aware.tz_convert('Europe/Berlin')

**Use in ML:**

* Global sensor data
* Financial trading systems

## 15. Custom Business Days & Holidays

In [ ]:
from pandas.tseries.offsets import CustomBusinessDay
from pandas.tseries.holiday import USFederalHolidayCalendar

us_business = CustomBusinessDay(calendar=USFederalHolidayCalendar())

pd.date_range(start="2024-01-01", periods=10, freq=us_business)

Custom week (e.g., Egypt weekends Fri-Sat):

In [ ]:
egypt_week = CustomBusinessDay(weekmask="Sun Mon Tue Wed Thu")
pd.date_range(start="2024-01-01", periods=10, freq=egypt_week)

## 16. Arithmetic Across Timezones

In [ ]:

s = pd.Series(range(5), index=pd.date_range("2024-01-01", periods=5, freq="H"))

berlin = s.tz_localize("Europe/Berlin")
mumbai = s.tz_localize("Asia/Calcutta")

berlin + mumbai


Pandas converts both to UTC before operation.